.side-menu {
    width: 140px;
    height: 100%;
    background-color: #222;
    color: white;
    position: fixed;
  }
  
  .logo {
    text-align: center;
    padding: 10px;
  }
  
  .items-list {
    margin-top: 20px;
  }
  
  .item {
    padding: 0px 20px 0px 20px;
  }
  
  .app-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }