.iframe-window {
  position: relative;

  .iframe {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    border: 0px none transparent;
    padding: 0px;
    overflow: hidden;
    display: block;
    max-width: 100%;
    box-sizing: border-box;
  }

  &.dock-top .iframe {
    height: calc(100vh - 52px);
  }

  &.dock-right .iframe {
    width: calc(100vw - 52px);
  }

  &.dock-bottom .iframe {
    height: calc(100vh - 52px);
  }

  &.dock-left .iframe {
    width: calc(100vw - 52px);
  }
}

.iframe-progress {
  position: fixed;
}