.iframe {
    width: 100vw;
    height: calc(100vh - 52px);
    background-color: transparent;
    border: 0px none transparent;
    padding: 0px;
    overflow: hidden;
    display: block;
    max-width: 100%;
    box-sizing: border-box;
  }
  
  .iframe-window {
    position: relative;
  }

  .iframe-progress {
    position: fixed;
  }