.content {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    border: 0px none transparent;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: block;
    max-width: 100%;
    box-sizing: border-box;
  }
  